{% extends 'base.html' %}

{% block content %}
    <form method="POST">
        {% csrf_token %}
        <p>
            <label>Наименование организации</label><br>
            <input type="text" name="name" value="{{contractor.name}}">
        </p>
        <p>
            <label>код</label><br>
            <input type="text" name="cod" value="{{contractor.cod}}">
        </p>
        <p>
            <label>ИНН</label><br>
            <input type="text" name="inn" value="{{contractor.inn}}">
        </p>
        <p>
            <label>КПП</label><br>
            <input type="text" name="kpp" value="{{contractor.kpp}}">
        </p>
        <input type="submit" value="Сохранить">
    </form>
{% endblock %}